.wrap {
  width: 1100px;
  margin: auto; }

.ft-gr {
  color: #00c73c; }

.ft-rd {
  color: #f01b30; }

.ft-bd {
  font-weight: bold; }

.ft-gy {
  color: #f1f3f6; }

.ft-bl {
  color: #2565d0; }

.ft-sk {
  color: #00a8f0; }

.ft-ygray {
  color: #888888; }

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px; }

/* header start*/
.top {
  overflow: hidden;
  padding: 15px 0; }

.top__navi {
  float: right; }
  .top__navi > li {
    float: left; }
    .top__navi > li > a {
      display: block;
      padding: 5px;
      font-size: 12px;
      letter-spacing: -2px;
      color: #888888; }

.head__box {
  padding: 35px 0 70px 0; }

.head__search {
  overflow: hidden; }
  .head__search > li {
    float: left;
    margin-left: 20px; }

.head__form {
  position: relative;
  height: 25px;
  width: 525px;
  padding: 10px;
  border: 2px solid #00c73c; }

.head__search_bar {
  position: absolute;
  width: 495px;
  top: 0;
  left: 0;
  padding: 14px 10px 9px 10px;
  font-size: 18px;
  border: 0; }

.head__search_bt {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #00c73c;
  border: 0;
  text-align: center; }

.nav {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6; }

.nav__ul > li {
  cursor: pointer;
  float: left; }
  .nav__ul > li > a {
    letter-spacing: -2px; }

.nav_ft {
  display: block;
  padding: 10px 8px;
  font-weight: bold;
  letter-spacing: -1px; }

.nav_more_cont {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 300px;
  top: 40px;
  left: 0;
  background: white; }

.nav__more {
  overflow: hidden; }
  .nav__more > li {
    float: left;
    width: 10%;
    border-left: 1px solid #f1f3f6;
    padding: 15px;
    font-size: 14px; }
    .nav__more > li > ul {
      margin-top: 10px; }
      .nav__more > li > ul > li > a {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400; }
        .nav__more > li > ul > li > a:hover {
          background: orange; }

.nav__opacity {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 580px;
  background: black;
  opacity: .1; }

.active {
  display: block; }

.n {
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url("../../img/head/new.png") no-repeat; }

.nav__live {
  position: relative;
  top: 2px; }
  .nav__live .live__hv_pannel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: white;
    border: 1px solid #d1d8e4; }
  .nav__live:hover .live__hv_pannel {
    display: block; }

.live__arrow {
  position: absolute;
  right: 0;
  top: 8px; }

.live__ul {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 30px; }
  .live__ul > li {
    position: relative;
    text-align: center;
    padding: 7px 0;
    top: 0;
    animation: liveUp 60s 2s infinite; }

@keyframes liveUp {
  0% {
    top: 0; }
  5% {
    top: -30px; }
  10% {
    top: -60px; }
  15% {
    top: -90px; }
  20% {
    top: -120px; }
  25% {
    top: -150px; }
  30% {
    top: -180px; }
  35% {
    top: -210px; }
  40% {
    top: -240px; }
  45% {
    top: -270px; }
  50% {
    top: -300px; }
  55% {
    top: -330px; }
  60% {
    top: -360px; }
  65% {
    top: -390px; }
  70% {
    top: -420px; }
  75% {
    top: -450px; }
  80% {
    top: -480px; }
  85% {
    top: -510px; }
  90% {
    top: -540px; }
  95% {
    top: -570px; } }

.live_num {
  color: #00c73c;
  font-size: 15px;
  font-weight: bold; }

.live_tx {
  font-size: 13px; }

.live__hv_pannel {
  padding: 15px;
  font-weight: bold; }
  .live__hv_pannel > ul {
    overflow: hidden; }
    .live__hv_pannel > ul > li {
      float: left;
      padding: 1px;
      letter-spacing: -1px; }
    .live__hv_pannel > ul li:first-child {
      width: 35%; }
    .live__hv_pannel > ul li:last-child {
      width: 63%; }

.live__pannel_tx {
  font-weight: bold; }
  .live__pannel_tx:hover span {
    text-decoration: underline; }
  .live__pannel_tx > a > span {
    font-weight: 400;
    letter-spacing: -1px; }

/* main*/
.container {
  background: #f2f4f7; }

.container_ul > li {
  float: none; }

.main__layout_bd {
  border: 1px solid #dee3eb;
  margin: 10px 0;
  background: white; }

.main__rt_ul {
  overflow: hidden; }
  .main__rt_ul > li {
    float: left;
    overflow: hidden; }
  .main__rt_ul .main__row_left {
    width: 740px;
    margin-right: 10px; }
  .main__rt_ul .main__row_right {
    width: 332px; }

.main__rl_top {
  height: 125px; }

.main__ad_img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle; }

.main__rl_box {
  overflow: hidden;
  padding: 15px 0px 5px 10px;
  letter-spacing: -1px;
  font-size: 13px; }
  .main__rl_box > li {
    float: left;
    width: 38%; }
    .main__rl_box > li:first-child {
      width: 58%; }

.ct_tt {
  width: 85px;
  padding: 1px;
  float: left; }

.ct-ul {
  position: relative;
  overflow: hidden;
  height: 20px; }
  .ct-ul > li {
    position: relative;
    padding-top: 1px;
    top: 0px;
    left: 0;
    height: 20px;
    animation: ctAd 60s 2s forwards; }

@keyframes ctAd {
  0% {
    top: 0; }
  5% {
    top: -21px; }
  10% {
    top: -42px; }
  15% {
    top: -63px; }
  20% {
    top: -84px; }
  25% {
    top: -105px; }
  30% {
    top: -126px; }
  35% {
    top: -147px; }
  40% {
    top: -168px; }
  45% {
    top: -189px; } }

.ct-ad {
  float: left;
  width: 320px; }

.ct-rul {
  overflow: hidden;
  float: right; }
  .ct-rul > li {
    padding-top: 1px;
    float: left;
    margin: 0 3px; }

.tb_menu_list {
  overflow: hidden;
  letter-spacing: -3px;
  font-size: 14px;
  font-weight: bold; }
  .tb_menu_list .tb_hgroup {
    float: left;
    padding: 15px; }
    .tb_menu_list .tb_hgroup h3, .tb_menu_list .tb_hgroup h4 {
      padding-top: 1px;
      float: left; }
  .tb_menu_list .tb_tab {
    float: right;
    color: gray; }
    .tb_menu_list .tb_tab > li {
      cursor: pointer;
      float: left;
      font-size: 18px;
      padding: 15px; }
      .tb_menu_list .tb_tab > li:hover {
        color: black; }
    .tb_menu_list .tb_tab .tb_arrow_box {
      border: 1px solid #f1f3f6;
      font-weight: bold; }
      .tb_menu_list .tb_tab .tb_arrow_box:hover {
        color: #00c73c; }

.api_ul {
  width: 100%;
  overflow: hidden; }
  .api_ul > li {
    float: left;
    width: 16.35%;
    text-align: center;
    border: 1px solid #f1f3f6; }
    .api_ul > li > a {
      display: block;
      padding: 20px 10px; }

.tb_menu_v2, .tb_menu_v3 {
  display: none; }

.login_cont {
  width: 90%;
  margin: auto;
  padding-top: 15px;
  height: 110px; }

.login_box {
  overflow: hidden;
  margin-bottom: 10px; }
  .login_box > li {
    float: left;
    width: 49%; }
    .login_box > li > ul > li {
      width: 48%;
      float: left; }
      .login_box > li > ul > li:first-child {
        margin-right: 4px; }

.login_form {
  position: relative; }

.main__rr_top {
  width: 100%; }

.login_input {
  background: #f9fafc;
  border: 1px solid #f1f3f6;
  width: 100%;
  padding: 10px 0; }

.login_bt {
  display: block;
  cursor: pointer;
  background: #00c73c;
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  height: 74px;
  border: 0; }

.login_sub {
  padding-top: 12px;
  height: 23px;
  background: #f9fafc;
  letter-spacing: -2px;
  font-size: 12px;
  border: 1px solid #f1f3f6;
  text-align: center; }
  .login_sub .secutiry_bt {
    background: #f9fafc;
    font-weight: bold;
    font-size: 10px;
    width: 30px;
    border: 1px solid gray; }

.login_state_bt {
  background: white;
  border: 1px solid #f1f3f6; }

.login_bottom_box {
  overflow: hidden; }
  .login_bottom_box > li {
    float: left;
    width: 40%;
    padding-top: 1px;
    letter-spacing: -2px;
    font-size: 14px; }
  .login_bottom_box .login_customer {
    width: 59%; }

.rr_tab {
  overflow: hidden;
  padding: 8px 0 8px 15px;
  letter-spacing: -1px;
  border-bottom: 1px solid #f1f3f6; }
  .rr_tab > div {
    padding-top: 1px;
    float: left;
    font-size: 14px; }

.rr_tab_daily {
  width: 59%; }

.rr_tab_bt {
  position: relative;
  width: 40%; }
  .rr_tab_bt > span {
    font-size: 12px; }

.rr_tab_paging {
  position: absolute;
  top: 0;
  right: 75px;
  padding-right: 1px; }

.arrow_cont {
  position: absolute;
  top: 0;
  right: 0; }

.rr_active_tb {
  font-weight: bold; }

.arrow_box {
  border: 1px solid #f1f3f6;
  font-weight: bold;
  padding: 8px; }

.rr_weather_box {
  overflow: hidden;
  padding-left: 15px; }
  .rr_weather_box .rr_weather_today {
    float: left;
    font-size: 14px; }
  .rr_weather_box .rr_today_mountem {
    padding-left: 20px;
    width: 20%; }
  .rr_weather_box .rr_weather_tx {
    font-size: 16px;
    margin-top: 15px; }
    .rr_weather_box .rr_weather_tx span {
      margin-top: 5px;
      font-weight: 400;
      font-size: 13px; }
  .rr_weather_box .rr_sky_state {
    width: 56px;
    height: 56px;
    margin-top: 10px;
    background: url("../../img/weather/weather.png");
    background-position: -66px -66px; }
  .rr_weather_box .rr_today_tem {
    position: relative;
    display: block;
    font-size: 33px;
    letter-spacing: -1px;
    margin-top: 12px; }
    .rr_weather_box .rr_today_tem sup {
      position: relative;
      top: -13px;
      right: 8px;
      font-size: 12px; }

.rr_weather_news {
  padding: 15px 10px;
  font-size: 13px;
  letter-spacing: -.5px; }

/*
footer
*/
.footer {
  letter-spacing: -2px;
  font-size: 15px; }
  .footer h5 {
    float: left; }

.footer_bd {
  border-bottom: 1px solid #f1f3f6; }

.footer_nav {
  height: 132px; }

.footer_ul {
  overflow: hidden; }
  .footer_ul > li {
    float: left; }

@media (max-width: 1080px) {
  .wrap {
    width: 100%; } }
