@import '../base/color.scss';

.wrap{
  width: 1100px;
  margin: auto;
  position: relative;
}
.ft-gr{
  color: $green;
}
.ft-rd{
  color: $red;
}
.ft-bd{
  font-weight: bold;
}
.ft-gy{
  color: $gray;
}
.ft-bl{
  color: $blue;
}
.ft-sk{
  color: $sky;
}
.ft-ygray{
  color: $ygray;
}
.blind{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header start*/
//top
.top{
  overflow: hidden;
  padding: 15px 0;
}
.top__navi{
  float: right;
  >li{
    float: left;
    >a{
      display: block;
      padding: 5px;
      font-size: 12px;
      letter-spacing: -2px;
      color: rgb(136,136,136);
    }
  }
}
.head__box{
  padding: 10px 0 47px 0;
}
.head__search{
  overflow: hidden;
  >li{
    float: left;
  }
  .header_search_bar{
    margin-top: 5px;
    margin-left: 20px;
  }
}

.head__form{
  position: relative;
  height: 22px;
  width: 505px;
  padding: 10px;
  border:2px solid $green;
}
.head__search_bar{
  position: absolute;
  width: 495px;
  top: 0;
  left: 0;
  padding: 14px 10px 9px 10px;
  font-size: 15px;
  border: 0;
}
.head__search_bt{
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: 43px;
  background: $green;
  border: 0;
  text-align: center;
}
// nav
.nav{
  position: relative;
  // overflow: hidden;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}
.nav:after{
  display: block;
  clear: both;
  content: '';
}
.nav__ul{
  font-size: 14px;
  >li{
    cursor: pointer;
    float: left;
    >a{
      letter-spacing: -2px;
      font-weight: bold;
    }
  }
}
.nav__ul:after{
  display: block;
  content: '';
  clear: both;
}
.nav_ft{
  display: block;
  padding: 15px 8px;
  font-weight: bold;
  letter-spacing: -1px;
}
.nav_more_cont{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 300px;
  top: 216px;
  left: 0;
  z-index: 500;
  background: white;
}
.nav__more{
  overflow: hidden;
  >li{
    float: left;
    width: 10%;
    border-left: 1px solid $gray;
    padding: 15px;
    font-size: 14px;
    >ul{
      margin-top: 10px;
    >li>a{
      display: block;
      padding:5px 0;
      font-size: 14px;
      font-weight: 400;
      &:hover{
        background: orange;
      }
    }
  }
  }
}
.nav__opacity{
  display: none;
  position: absolute;
  width: 100%;
  height: 155%;
  left: 0;
  top: 517px;
  background: black;
  opacity: .1;
}
.active{
  display: block;
}
.n{
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url('../../img/head/new.png') no-repeat;
}

.nav__live{
  position: relative;
  width: 250px;
  height: 30px;
  top: 8px;
  overflow: hidden;


}

//live Pannel
.live__arrow{
  position: absolute;
  right: 0;
  top: 8px;
}
.live__ul{
  position: absolute;
  left: 20px;
  top: 0;
  overflow: hidden;
  >li{
    position: relative;
    text-align: center;
    height: 30px;
    line-height: 30px;
    top: 0;
  }
}
.livePannel_row{
  display: block;
  overflow: hidden;
}
.live_num{
  color: $green;
  font-size: 15px;
  font-weight: bold;
}
.live_tx{
  font-size: 13px;
}

//hover live pannel

.live__hv_pannel{
  display: none;
  position: absolute;
  top: -45px;
  right: 10px;
  width: 280px;
  background: white;
  border: 1px solid rgb(209,216,228);
  z-index: 20;
  padding: 10px 18px 5px 18px;
  font-weight: bold;
}
.livePannel__top{
  height: 30px;
  line-height: 32px;
}
.livePannel__middle{
  margin: 5px 0;
}
.livePannel_title{
  float: left;
  padding: 1px;
  letter-spacing: -2px;
  font-size: 15px;
  width: 130px;
}
.livePannel__an{
  font-weight: 400;
  font-size: 13px;
}
.livePannel__an:hover{
  text-decoration: underline;
}
.nav__live:hover .live__hv_pannel{
  display: block;
}

.livePannel__rank_box{
  float: left;
  width: 49%;
  height: 20px;
  line-height: 20px;
  border: 1px solid rgb(226, 226, 226);
  text-align: center;
  font-size: 13px;
  letter-spacing: -1px;
  font-weight: 400;
  cursor: pointer;
  background: rgb(247, 247, 247)
}
.livePannel__rank_box:first-child{
  margin-right: -1px;
}
.livePannel_rank{
  display: inline-block;
  width: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  color: rgb(83, 83, 83);
}
.livePannel_tx{
  display: block;
  position: relative;
  height: 23px;
  line-height: 23px;
  font-weight: 400;
  font-size: 12px;
}
.livePannel_tx:hover{
  text-decoration: underline;
}
.livePannel_bottom{
  color: gray;
  font-size: 11px;
  font-weight: 400;
  padding: 5px 0;
  border-top: 1px solid rgb(187, 187, 187);
  margin-top: 5px;
}
.livePannel__mo{
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgb(196, 196, 196);
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: bold;
}
.livePannel__icon{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  width: 12px;
  height: 12px;
  background: url('../../img/head/title_logo.png');
  background-position: -125px -148px;
}
.livePannel__v1,.livePannel__v2{
  display: none;
}
.livePannel__Active{
  display: block;
}
.livePannel__bgAct{
  background: white;
}


/* main*/
.container{
  background: rgb(242,244,247);
}

.container_ul{
  // overflow: hidden;
  >li{
    float: none;
  }
}
.main__layout_bd{
  border: 1px solid rgb(222,227,235);
  margin: 10px 0;
  background: white;
}
.main__rt_ul{
  overflow: hidden;
  .main__row_left{
    overflow: hidden;
    float: left;
    width: 740px;
    margin-right: 10px;
  }
  .main__row_right{
    overflow: hidden;
    float: left;
    width: 332px;
  }
}
.main__rl_top{
  height: 125px;
}
.main__ad_img{
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}
.main__rl_box{
  overflow: hidden;
  padding: 15px 0px 5px 10px;
  letter-spacing: -1px;
  font-size: 13px;
  >li{
    float: left;
    width: 38%;
    &:first-child{
      width: 58%;
    }
  }
}
// 연합뉴스
.ct_tt{
  width: 85px;
  padding: 1px;
  float: left;
}
.ct-ul{
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  letter-spacing: -1px;
  >li{
    position: relative;
    padding-top: 1px;
    top: 0px;
    left: 0;
    height: 20px;
    letter-spacing: -2px;
  }
}
.ct-ad{
  position: relative;
  height: 22px;
  overflow: hidden;

  float: left;
  width: 320px;
}
.ct-rul{
  overflow: hidden;
  float: right;
  >li{
    padding-top: 1px;
    float: left;
    margin: 0 3px;
  }
}

//뉴스 스탠드
.tb_menu_list{
  position: relative;
  overflow: hidden;
  letter-spacing: -3px;
  font-size: 14px;
  font-weight: bold;
  .tb_hgroup{
    float: left;
    padding: 15px;
    h3,h4{
      padding-top: 1px;
      float: left;
    }
  }
  .tb_tab{
    float: right;
    color: gray;
    margin-right: 110px;
    margin-top: 5px;
    .tb_arrow_box{
      border: 1px solid $gray;
      font-weight: bold;
      &:hover{
        color: $green;
      }
    }
  }
}
.tb_sub_tab{
  cursor: pointer;
  float: left;
  font-size: 18px;
  width: 18px;
  height: 18px;
  background: url('../../img/head/newsStandIcon.png') no-repeat;
  padding: 10px;

}
.tb_sub_icon1{
  background-position: -220px -116px;
  // &:hover{
  //   background-position:-193px -116px;
  // }
}
.tb_sub_icon2{
  background-position: 10px -185px;
    &:hover{
      background-position: -190px -144px;
  }
}
.tb_sub_icon3{
  background-position: -17px -185px;
    &:hover{
      background-position: -45px -184px;
  }
}

.api_ul{
  width: 100%;
  overflow: hidden;
}

.apu_list{
  float: left;
  width: 16.39%;
  text-align: center;
  border: 1px solid $gray;
  >a{
    display: block;
    padding: 20px 10px;
  }
}
.tb_menu_v2,.tb_menu_v3{
  display: none;
}



// login
.login_cont{
  width: 90%;
  margin: auto;
  padding-top: 15px;
  height: 110px;;
}
.login_box{
  overflow: hidden;
  margin-bottom: 10px;
  >li{
    float: left;
    width: 49%;
    >ul{
      >li{
        width: 48%;
        float: left;
        &:first-child{
          margin-right: 4px;
        }
      }
    }
  }

}
.login_form{
  position: relative;
}
.main__rr_top{
  width: 100%;
}
.login_input{
  background: rgb(249,250,252);
  border: 1px solid $gray;
  width: 100%;
  padding: 10px 0;
}
.login_bt{
  display: block;
  cursor: pointer;
  background: $green;
  color: white;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  height: 74px;
  border: 0;
}
.login_sub{
  padding-top: 12px;
  height: 23px;
  background: rgb(249,250,252);
  letter-spacing: -2px;
  font-size: 12px;
  border: 1px solid $gray;
  text-align: center;
  .secutiry_bt{
    background: rgb(249,250,252);
    font-weight: bold;
    font-size: 10px;
    width: 30px;
    border: 1px solid gray;
  }
}
.login_state_bt{
  background: white;
  border: 1px solid $gray;
}


.login_bottom_box{
  overflow: hidden;
  >li{
    float: left;
    width: 40%;
    padding-top:1px;
    letter-spacing: -2px;
    font-size: 14px;
  }
  .login_customer{
    width: 59%;
  }
}

//  rr tab
.rr_tab{
  overflow: hidden;
  padding: 9px 0 8px 15px;
  letter-spacing: -1px;
  border-bottom: 1px solid $gray;
  >div{
    padding-top: 1px;
    float: left;
    font-size: 14px;
  }
}
.rr_tab_daily{
  width: 59%;
}
.rr_tab_bt{
  position: relative;
  width: 40%;
  >span{
    font-size: 12px;
  }
}
.rr_tab_paging{
  position: absolute;
  top: 0;
  right: 75px;
  padding-right: 1px;
  font-size: 12px;
}
.arrow_cont{
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
}
.rr_active_tb{
  font-weight: bold;
}

.arrow_box{
  display:block;
  float: left;
  width: 25px;
  height: 32px;
  text-align: center;
  border: 1px solid #f1f3f6;
  font-weight: bold;

  line-height: 32px;
}
//weather
//page1
.rr_tab_title{
  font-size: 13px;
  color: rgb(128, 128, 128);
}
.rr_weather_box{
  overflow: hidden;
  padding-left: 15px;
  .rr_weather_today{
    float: left;

    font-size: 14px;
    // margin-top: 10px;
  }
  .rr_today_mountem{
    padding-left: 20px;
    width: 20%;
  }
  .rr_weather_tx{
    font-size: 16px;
    margin-top: 15px;
    span{
      margin-top: 5px;
      font-weight: 400;
      font-size: 13px;
    }
  }
  .rr_sky_state{
    width: 56px;
    height: 56px;
    margin-top: 10px;
    background: url('../../img/weather/weather.png');
    background-position: -66px -66px;
  }
  .rr_today_tem{
    position: relative;
    display: block;
    font-size: 33px;
    letter-spacing: -1px;
    margin-top: 12px;
    .tempsup{
      position: relative;
      top: -13px;
      right: 0;
      font-size: 12px;
    }
  }
}
.rr_change{
  height: 104px;
}
.rr_news{
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 25px;
  padding: 15px;
}
.rr_weather_news{
  padding:13px 10px;
  font-size: 13px;
  letter-spacing: -.5px;
}
//rr news
//page2,page3
.rr_news_row{
  display: block;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rr_news_title_a{
  color: #2565d0;
  font-weight: bold;
  margin-right: 5px;
}
.rr_news_tx:hover{
  text-decoration: underline;
}
.rr_news_content:visited{
  color: gray;
}
.rr_new_bar{
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 6px;
  background: rgb(230, 230, 230);
}

//english
//page4

.rr_eng_txbl{
  color: #2565d0;
}
.rr_eng_main_tx{
  font-weight: bold;
  font-size: 17px;
}


//생활도구
//page5

.rr_icon{
  display: inline-block;
  width: 20px;
  height: 21px;
  background: url('../../img/flick/livingTools/sp_timesquare_v170913a.png');
  margin-right: 10px;
}
.rr_living:hover a{
  text-decoration: underline;
}
.rr_living_ul{
  overflow: hidden;
  line-height: 38px;
}
.rr_living{
  float: left;
  width: 24.999%;
}
.rr_icon1{
  background-position: -433px -93px;
}
.rr_icon2{
  background-position: -433px -62px;
}
.rr_icon3{
  background-position: -433px -186px;
}
.rr_icon4{
  background-position: -433px -31px;
}
.rr_icon5{
  background-position: -433px -124px;
}
.rr_icon6{
  background-position: -433px -155px;
}
.rr_icon7{
  background-position: -433px 0;
}
.rr_icon8{
  background-position: -396px -333px;
}

/*
theme cast
*/
//theme cast tab
.themecast{
  border: 1px solid #dee3eb;
  background: white;
}
.themecast_tab{
  position: relative;
  overflow: hidden;
  letter-spacing: -2px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid $gray;
}
.themecast_tab_ul{
  position: relative;
  width: 1600px;
  padding-left: 12px;
  overflow: hidden;
  left: 0;
  // transition: .5s;
  >li{
    float: left;
    >a{
      display: block;
      padding: 15px 8px;
      margin-right: 6px;
    }
  }
}

.themecast__toggle_tab{
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    border: 1px solid $gray;
    .ac_bicon{
      position: absolute;
      top: 15px;
      left: 12px;
      width: 20px;
      height: 14px;
      background: url('../../img/head/tabicon.png') no-repeat;
      background-position: -218px -257px;
    }
}
.themecast_main_tab{
  position: absolute;
  width: 600px;
  height: 45px;
  top: 0;
  left: 45px;
  overflow: hidden;
}
.themecast_main_tabList{
  position: relative;
}
.themecast_main_tabList_border{
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: white;
  content: '';
}


.arrow_box_cont{
  position: absolute;
  top: 0;
  right: 0;
}
.arrow_ab_box{
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid $gray;
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  float: left;
  padding: 0;
}
//themecast type
.themecast_body{

}
//themecast type1
.themecast_type1{
  display: none;
}
.themecast_type2{
  // display: none;
}
.themecast_type3{
  display: none;
}
//themecast type common
.themecast__type_ul{
  overflow: hidden;
  padding: 20px 0px 20px 20px;
}
.themecast__type_list{
  position: relative;
  float: left;
  width: 166px;
  height: 185px;
  margin: 0px 9px 12px 0;
  letter-spacing: -1px;
  a{
    display: block;
    overflow: hidden;
  }
  .themecast_img_top{
    position: absolute;
    img{
      display: block;
      width: 166px;
      height: 185px;
    }
  }
}
.themecast_bar{
  display: block;
  position: relative;
  width: 15px;
  height: 2px;
  top: 40px;
  left: 20px;
  background: rgb(179, 179, 179);
  zoom: 1
  
}
.themecast_category_list_ul{
  position: relative;
  top: 55px;
  left: 20px;
  width: 142px;
  overflow: hidden;
  zoom: 1;
  font-size: 13px;
  li {
    float: left;
    width: 49%;
    line-height: 20px;
  a{
    color: white;
  }
}
}
.themecast_category_list_ul li a:hover{
  text-decoration: underline;
}
.themecast_tt{
  position: relative;
  top: 20px;
  left: 20px;
  zoom: 1;
  font-size:20px;
  font-weight: bold;
  color: white;
}
.themecast_bigimage{
  position: relative;
  width: 346px;
}
.themecast__text_box{
  overflow: hidden;
  letter-spacing: -1px;
  line-height: 15px;
  font-size: 13px;
}
.themecast__tx_title{
  display: block;
  margin: 7px 0;
  font-weight: bold;
}
.themecast__sub_box{
  color: $textGray;
}
.themecast__td_bar{
  display: inline-block;
  width: 1px;
  height: 11px;
  background: #e3e7ee;
  margin: 0 1px;
}

.themecast__tda img{
  transition: .2s;
}
.themecast__tda:hover img{
 transform: scale(1.05);
 transition: .3s;
}
.themecast__tda:hover .themecast__tx_title{
  text-decoration: underline;
}
.themecast__title_tx_box{
  position: absolute;
  width: 322px;
  padding: 5px 12px;
  left: 0;
  bottom: -7px;
  background: rgba(0,0,0,.5);
}
.themecast_title_sub_tx{
  display: block;
  width: 100%;
  letter-spacing: -1px;
  font-size: 13px;
  color: white;
  line-height: 18px;
}
.themecast__title_top{
  font-weight: 400;
}
.themecast_float_img{
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}
//common
//themecast type2
// .themecast_type2{
//   display: none;
// }
.themecast_tw{
  font-size: 13px;
  letter-spacing: -1px;
  span{
    display: block;
    line-height: 20px;
  }
  &:hover{
    span{
      text-decoration: underline;
    }
  }
}
.themecast_tw_sub{
  color: #ff8624;
}
.themecast_inner_list{
  padding: 8px 15px;
}
.themecast_inner_middle{
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}
.themecast_type2_banner{
  float: left;
  width: 346px;
}
.tb_tit{
  font-weight: bold;
  letter-spacing: -1px;
}
.themecast_type2_banner_list{
  overflow: hidden;
  margin-top: 10px;
  padding-top: 1px;
  font-size: 13px;
  line-height: 18px;
}
.themecast_type2_float_img:hover{
  transform: scale(1.05);
  transition: .3s;
}
.themecast_type2_float_img{
  width: 130px;
  float: left;
  margin-right: 10px;
}
.themecast_type2_banner_tx{
  display: block;;
  margin: 5px 0;
}
.themecast_type2_banner_tx:hover{
  text-decoration: underline;
}
// themecast type 3
// .themecast_type3{
//   display: none;
// }
.themecast_type3_bigimage{
  position: relative;
  width: 515px;
}
.themecast_type3_bigimage_ul{
  position: absolute;
  top: 28px;
  left: 166px;
  z-index: 20;
  overflow: hidden;

}
.themecast_type3_bigimage_list{
  float: left;
  width: 160px;
  span{//span 지우기
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
  }
}
.themecast__type3_bigimage_inner{
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}
.themecast_type3_bigimage_list:hover a{
  text-decoration: underline;
}
.themecast_type3_bigimage_list:hover img{
  transform: scale(1.1);
  transition: .5s;
}
.themecast_type3_inner_first{
  margin-right: 10px;
}





// shoppingBox
// iframe
.shp_cst{
  height: 882px;
  background: white;
  border: 1px solid #dee3eb;
  iframe{
    overflow: hidden;
    width: 330px;
    height: 882px;
  }
}

/*
EMPTY
*/
//banner
.main_bt_banner{
  .bt_banner_list{
    float: left;
    width: 50%;
    border: 0;
    padding-top: 8px;
    height: 120px;
  }
}
.bt_banner_box{
  float: left;
  width: 45%;
  padding: 15px 0 15px 15px;
  letter-spacing: -1px;
}
.bt_banner_title{
  display: block;
  padding-top: 5px;
  color: $green;
  font-size: 14px;
}
.bt_banner_st{
  display: block;
  font-weight: bold;
  padding: 7px 0;
  font-size: 15px;
}
.bt_banner_tx{
  font-size: 14px;
}
.bt_banner_list:hover .bt_banner_st,.bt_banner_list:hover .bt_banner_tx{
  text-decoration: underline;
}


//papen ad
.papen{
  border: 0;
  background: 0%;
  height: 120px;
}
.papen_ad{
  >img{
    border: 1px solid #dee3eb;
  }
}
/*
footer
*/
.footer{
  border: 1px solid #dee3eb;
  letter-spacing: -2px;
  font-size: 15px;
}
.footer_bd{
  border-bottom: 1px solid $gray;
}
//footer top

.footer_top{
  padding: 15px 0;
  font-size: 14px;
  .footer_notice_title{
    float: left;
    margin-right: 10px;
  }
}
.footer_notice{
  position: relative;
  p,h5{
    padding-top: 1px;
  }
  a:hover{
    text-decoration: underline;
  }
}
.area_services{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
}



//footer middle

.footer_middle_nav{
  overflow: hidden;
}
.footer_info{
  float: left;
  padding: 20px 0;
}
.footer_info_row{
  overflow: hidden;
  margin: 7px 0;
  .footer_info_title{
    width: 91px;
    float: left;
    font-weight: bold;
    letter-spacing: 0;
    font-size: 13px;
  }
}

.footer_sh_box{
  padding: 15px 10px;
}
.footer_sh_v1{
  float: right;
}
.footer_sh_v2{
  float: right;
}
.sh_tx_box{
  display:block;
  float: left;
  border-left: 1px solid $gray;
  padding: 0 15px;
  h5{
    letter-spacing: -1px;
    font-size: 14px;
    line-height: 17px;
  }
  a{
    font-size: 13px;
    color: #888;
  }
}
.sh_tx_box a:hover{
  text-decoration: underline;
}
.footer_sh_img{
  display: inline-block;
  width: 49px;
  height: 50px;
}
.sh_v2_img{
  background: url('../../img/head/title_logo.png');
  background-position: 0 -127px;
}
.sh_v1_img{
  background: url('../../img/head/title_logo.png');
  background-position: -120px -67px;
}



//footer bottom
.footer_nav{
  height: 132px;
  padding-top: 24px;
}
.footer_ul{
  overflow: hidden;
  >li{
    position: relative;
    float: left;
    margin: 0 10px;
    &:first-child{
      margin-left: 0;
    }
    >a{
      color: #888;
      vertical-align: top;
      letter-spacing: -1px;
      font-size: 12px;
      line-height: 16px;
      &:hover{
        text-decoration: underline;
      }
    }
    .naver_corp{
      color: black;
    }
  }
}
.at_bar{
  display: inline-block;
  position: absolute;
  margin-right: 14px;
  width: 1px;
  height: 11px;
  top: 3px;
  right: -25px;
  background: #e8e9ec;
  vertical-align: -2px;
}


//type4 bottom side
.themecast__side_list{
  background: #f9fafc;
}
.themecast__side_list:hover .themecast__side_An{
  text-decoration: underline;
}
.themecast__side_An{
  display: block;
  height: 100%;
  padding: 15px 10px 0;
  font-size: 13px;
  height: 47px;
  letter-spacing: -1px;
}
.themecast__sidebd_tb{
  border-bottom: 1px solid #ebeef3;
  border-top: 1px solid #ebeef3;
}
.themecast__img_tle{
  width: 100%;
  height: 79px;
}
.themecast__img_tda{
  height: 100px;
  width:200px
}
.themecast__img_static{
  width: 100%;
  height: 100px;
}



//media

// @media (max-width:1080px){
//   .wrap{
//     width: 100%;
//   }
// }