/*
shopping box
*/

.ft-bd{
  font-weight: bold;
}
.ft-gr{
  color:rgb(0,199,60);
}
.ft-pp{
  color:#8974d7;
}
.shop_wrap{
  position: relative;
  width: 330px;
  height: 882px;
}
.blind{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.shop_content{
  display: none;
}
.shop_banner{
  display: none;
}
.mall_content{
  display: none;
}

.mall_banner{
  display: none;
}
.MEN_content{
  display: none;
}
.MEN_banner{
  display: none;
}

//header
.shop_header{
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgb(241,243,246);
}
.shop_header_box{
  float: left;
  width: 49.5%;
  letter-spacing: -3px;
  h1>a{
    display: block;
    padding:10px 10px;
    font-weight: bold;
    font-size: 14px;
  }
  ul>li{
    float: left;
    >a{
      display: block;
      padding:10px 10px;
      color: gray;
      font-weight: bold;
      font-size: 14px;
      &:hover{
        color: black;
      }
    }
    .shop_active{
      font-weight: bold;
      color: black;
    }
  }
}
// mall list
.malllist{
  border-bottom: 1px solid rgb(241,243,246);
  padding:15px 10px;
  letter-spacing: -1px;
  div a{
    font-size: 13px;
    &:hover{
      text-decoration: underline;
    }
  }
}

/*
product
*/
// 상품 광고 영역
.contents_memAd{
  position: relative;
  padding: 38px 0 5px 10px;
  border-bottom: 1px solid rgb(241,243,246);
}
.shop_paging{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 50px;
  color: gray;
  em{
    position: relative;
    top: 0;
    left: 0;
    width: 32px;
    float: left;
    font-size: 12px;
    margin:5px 6px 0 0;
    letter-spacing: -1px;
  }
  strong{
    color: black;
  }
  >a{
    display:block;
    border: 1px solid rgb(241,243,246);
    text-align: center;
    height: 23px;
    width: 23px;
    float: left;
  }
}
// 상품 리스트
.shop_contents_ul{
  overflow: hidden;
  background: white;
  li{
    float: left;
    width: 94px;
    margin:4px 4px 10px 4px;
    overflow: hidden;
    &:hover span{
      text-decoration: underline;
    }
    &:hover img{
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
    .shop_mw{
      img{
        width: 100%;
      }
    }
  }
}
.shop_content_tx{
  margin-top: 5px;
  span{
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -2px;
  }
}

// 상품 베너
.shop_banner{
  letter-spacing: -1px;
  padding: 10px 10px 10px 15px;
}
.shop_banner_title{
  position: relative;
  padding: 2px 0;
  h4{
    font-size: 14px;
    font-weight: bold;
  }
  .shop_title_stick{
    display: inline-block;
    width: 3px;
    height: 11px;
    background: #8974d7;
  }
  a{
    top: -2px;
  }
}
.shop_banner_list{
  margin-top: 10px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -1px;
  ul>li:hover a{
    text-decoration: underline;
  }
  .bn-title{
    margin-right: 10px;
  }
}

/*
 mall
*/
// shopping Mall

.mall_content_box{
  overflow: hidden;
}
.mall_title_ul{
  overflow: hidden;
}
.mall_title_link{
  position: relative;
  height: 25px;
  line-height: 30px;
}
.mall_nowlink_box{
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 13px;
  letter-spacing: -1px;
}
.mall_nowLink{
  color: #666;
  font-size: 13px;
}
.mall_nowLink:hover{
  text-decoration: underline;
}
.mall_title_img{
  display: inline-block;
  margin-top: 10px;
}

.mall_content_list{
  float: left;
  width: 33.3%;
  margin: 10px 0;
}
.mall_content_list:hover .mall_content_img{
  transition: .5s;
  transform: scale(1.05);
}
.mall_content_list:hover .mall_text_box{
  text-decoration: underline;
}
.mall_content_img{
  width: 92px;
  height: 69px;
}
.mall_text_box{
  display: block;
  font-size: 13px;
  letter-spacing: -1px;
  text-align: center;
}
.mall_tx_span{
  display: block;
  line-height: 20px;
}


//mall banner
.mall_banner{
  margin-top: 10px;
  padding-left: 10px;
}
.mall_sale_box{
  padding: 12px 16px 12px 11px;
  height: 16px;
  background: #fafafa;
  border: 1px solid #f1f1f1;
}
.mall_sale_icon{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  top: -3px;
  margin-right: 5px;
  background: url('../../img/head/shopicon.png') no-repeat;
  background-position: 0 0;
}
.mall_sale_anchor{
  vertical-align: top;
  letter-spacing: -1px;
  font-size: 12px;
}
.mall_sale_anchor:hover{
  text-decoration: underline;
}
.mall_bx{
  border-top: 1px solid #f1f3f6;
}

/*
 mens
*/
//product

.contents_mens{
  position: relative;
  overflow: hidden;
}
.ms_md{
  overflow: hidden;
}
.contents_mens_ul{
  cursor: pointer;
  padding-top: 35px;
  overflow: hidden;
}
.mens_content_list{
  float: left;
  width: 94px;
  border: 1px solid rgb(241,243,246);
  padding:15px 6.3px;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  img{
    width: 100%;
    transition: .5s;
  }

  &:hover span{
    text-decoration: underline;
  }
  &:hover img{
    transition: .5s;
    transform: scale(1.1);
  }
}
.mens_content_span{
  display: block;
  line-height: 15px;
}

.mens_tx{
  margin-top: 7px;
  letter-spacing: -1px;
  font-size: 13px;
}
//MENS banner
.MEN_banner{
  position: relative;
  background: #f9fafc;
}
.MEN_tt_bar{
  display: block;
  width: 3px;
  height: 14px;
  background: #9891e5;
  float: left;
  margin-top: 13px;
  margin-right: 5px;
}
.MEN_title{
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 40px;
  padding-left: 15px;
}

.MEN_refesh{
  position: absolute;
  top: 7px;
  right: 15px;;
  background: white;
  width: 25px;
  height: 25px;
  border: 1px solid #ececec;
  background: url('../../img/head/tabicon.png') no-repeat;
  background-position: -127px -285px;
}
.MEN_img_float{
  float: left;
  width: 116px;
  height: 64px;
  margin-right: 10px;
}
.MEN_banner_list{
  display: block;
  overflow: hidden;
  background: white;
  padding: 10px;
  border: 1px solid #ececec;
  margin: 9px auto;
  width: 280px;
}
.MENBanner_anch{
  display: block;
  overflow: hidden;

}
.MEN_banner_list:hover{
  text-decoration: underline;
}
.MEN_banner_list:hover img{
  transition: .5s;
  transform: scale(1.05);
}
.MEN_banner_txbox{
  display: inline-block;
  padding-top: 5px;
  line-height: 17px;
  font-size: 14px;
  span{
    display: block;
    font-size: 13px;
  }
}
.MEN_color_tx{
  margin-top: 5px;
  color: #7b97c5;
}


.tabActive{
  display: block;
}
.tabUnActive{
  display: none;
}