@import '../modules/mixin.scss';
@import '../base/font.scss';
@import '../base/color.scss';
/* banner */

// banner-left
.banner-left{
  position: absolute;
  @include widthHeight(125px,670px);
  background: $white;
  top: 170px;
  left: -135px;
  .banner-left_zonebg{
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: url('../../img/banner-left-bg.png');
    @include fontSizeWeight(12px,bold);
  }
  .banner-left-ul{
    text-align: center;
    padding: 0 13px;
    height: 100%;
    >li{
      height: 12%;
      line-height: 12%;
      padding: 10px 0;
      border-bottom: 1px solid rgb(224,224,224);
      >a{
        text-decoration: none;
      }
      .banner-img{
        width: 90px;
      }
    }
  }
}
.banner-right{
  position: absolute;
  @include widthHeight(125px,740px);
  background: $white;
  top: 170px;
  right: -138px;
  .banner-right_zonebg{
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: url('../../img/banner-left-bg.png');
    @include fontSizeWeight(12px,bold);
  }
  .banner-right_tle{
    padding: 15px 0;
  }
}

// up & down
.updown{
  position: absolute;
  @include widthHeight(85px,85px);
  top: 950px;
  right: -90px;
  background: url('../../img/circle.png');
  .updown__text{
    position: absolute;
    width: 100%;
    text-align: center;
    @include fontSizeWeight(12px,bold);
    color: rgb(158,158,158);
  }
  .updown__box{
    position: relative;
    text-align: center;
    line-height: 40px;
    height: 50%;
  }
  .upbd{
    border-bottom: 1px solid rgb(224,224,224);
  }
  .up{
    position: relative;
    bottom: 25px;
  }
  .down{
    position: relative;
    top: -50px;
  }
}