// color
@import '../base/color.scss' ;
// font
@import '../base/font.scss';

// banner
@import './banner.scss';

// header
@import './header.scss';

// main menu
@import './menu.scss';

// main
@import './main.scss';

// customer (review / picture part)
@import './customer.scss';

//footer
@import './footer.scss';

//mixin
@import '../modules/mixin.scss';
  
*{padding: 0;margin: 0;list-style: none;}
a{text-decoration: none; color: black;}
img{border: 0;}
body{background: rgb(241,241,241);font-family:'YDIGO350';}
.ft-pp{color: $purple;}
.ft-bd{font-weight: bold;}
.bg-pp{background: $purple}
.ft-bk{color: black;}
.ft-rd{color:rgb(255,0,0);}

.wrap{
  position: relative;
  width: 1000px;
  margin: auto;
}

// title logo
.title_logo{
  position: relative;
  height: 90px;
  text-align: center;
  background: url('../../img/check_bg.png');
  .logo_info{
    position: absolute;
    left: 440px;
    top: 50px;
  }
}


//responsive
@import './responsive.scss';
