@import '../modules/mixin.scss';
@import '../base/font.scss';
@import '../base/color.scss';
//main

/* main start */

// notice
.notice{
  position: relative;
  height: 620px;
  line-height: 45px;
  padding: 0 1px;
  background: rgb(241,241,241);
  font-size: 14px;
  font-weight: bold;
  .notice_tle{
    padding:0 20px;
    >.notice__info{
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.notice__nav{
  position: absolute;
  top: 0;
  right: 0;
  >.notice__nav_li{
    float: left;
    >a{
      text-align: center;
      display: block;
      width: 90px;
      letter-spacing: -1px;
      // color: black;
    }

  }
}
.a_after{
  font-size: 10px;
  color: rgb(203,203,203);
}
.reco_friends{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 360px;
  >a{
    letter-spacing: -1px;
  }
}

.notice__sns_ul{
  position: absolute;
  width: 200px;
  left: 125px;;
  top: 5px;
  display: inline-block;
  >.notice__sns_li{
    float: left;
    @include widthHeight(20px,25px);
    margin: 0 5px;
    >a>img{
      width: 100%;
      height: 20px;
    }
  }
}
// adbox
.adbox{
  position: relative;
  padding: 0;
  padding: 20px;
  height: 518px;
  background: white;
  border:1px solid gainsboro;
  .adbox__tti{
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 10;
    .tt_flower{
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .tt_text{
      position: absolute;
      left: 20px;
      top: 15px;
    }
  }
  >.adbox__info{
    position: relative;
    height: 400px;
    background: url('../../img/adbox_info_v1.png') no-repeat;
    .adbox__title_box{
      position: relative;
      @include widthHeight(385px,100%);
      background: url('../../img/opacity.png');
      .adbox__text{
        position: absolute;
        top: 90px;
        left: 40px;
        >h2{
          font-weight: bold;
          font-size: 27px;
          color: rgb(219,234,8);
          height: 26px;
          letter-spacing: -2px;
        }
        >h3{
          font-size: 20px;
          color: white;
          
        }
        >p{
          font-size: 15px;
          line-height: 15px;
          color: white;
        }
      }
    }
    >.adbox__time{
      position: absolute;
      top: 0;
      right: 20px;
      >.abbox__time-box{
        display: inline-block;
        padding: 4px;
        margin: 0 .3px;
        height: 20px;
        line-height: 20px;
        color: white;
        background: url('../../img/timer/timer_Bg.png') no-repeat 100%;
      }
    }
  }
}
.adbox__purchase{
  overflow: hidden;
  .purchase-ul{
    overflow: hidden;
    >li{
      position: relative;
      overflow: hidden;
      float: left;
      width: 64%;
      text-align: center;
      margin-top: 25px;
      >.purchase_box{
        float: left;
        width: 50%;
        .sale_line{
          position: absolute;
          right: 115px;
          top: 17px;
        }
        .purchase__nomal{
          line-height: 15px;
          @include fontSizeWeight(25px,bold);
          .nomal_price_img{
            margin-left: 25px;
          }
        }
        .purchase__sale{
          @include fontSizeWeight(60px,bold);
          color: $purple;
          .price_img{
            margin-top: -20px;
            width: 200px;
          }
        }
        .pur_box{
          display: inline-block;
          position: absolute;
          margin-top: -25px;
          @include fontSizeWeight(10px,bold);
          color: black;
        }
        .nomal_price{
          @include topRight(35px,70px);
        }
        .sale_price{
          @include topRight(70px,10px);
        }
      }
    }
    >.purchase-li{
      width: 35%;
      margin-top: 12px;
    }
    .sale_per{
      .price_65{
       width: 200px;     
      }
    }
  }
  .purchase__current{
    font-size: 30px;
    letter-spacing: -2px;
  }
  .purchase__line{
    line-height: 15px;
  }
  .purchase__button{
    cursor: pointer;
    height: 60px;
    text-align: center;
    >a{
      display: block;
      margin: auto;
      @include widthHeight(275px,60px);
      color: $white;
      @include fontSizeWeight(25px,bold);
      background: url('../../img/button.png') no-repeat;
    }
  }
}
