@media (max-width:1000px){
  .wrap{
    width: 100%;
  }
  .submenu > .submenu-li{
    width: 18.7%;
  }
  .nav-ul, .notice_tle, .menu, .banner-right,.banner-left,.updown{
    display: none;
  }
  .customer .customer__task .customer__inner-box2 .customer__list_img{
    width: 80%;
  }
  .footer .footer__box-v2{
    width: 100%;
  }

}
@media screen and (max-width:780px){
  .customer .customer__task .customer__inner-box ,.adbox__purchase .purchase-ul > li > .purchase_box .purchase__nomal .nomal_price_img, .adbox__purchase .purchase-ul > li > .purchase_box .sale_line, .adbox__purchase .purchase-ul > li > .purchase_box .nomal_price, .customer .customer__task .customer__inner-box3 .customer__picture_part .picture__text{
    display: none;
  }
  .adbox__purchase .purchase-ul > li{
    width: 100%;
    float: none;
  }
  .adbox__purchase .purchase-ul > .purchase-li{
    width: 100%;
  }
  .adbox__purchase .purchase__button > a{
    background: $purple;
    width: 100%;
  }
  .adbox{
    height: 680px;
  }
  .picture .dotdot{
    margin-top: auto;
    line-height: 15px;
    padding-bottom: 20px;
  }
  .customer{
    margin-top: 95px;
  }
  .picture .picture__img{
    width: 100%;
  }
  .customer #customer__box, .customer .customer__task .customer__inner-box2{
    height: auto;
  }
  .customer .customer__task .customer__inner-box3,.picture{
    height: auto;
  }
  .customer .customer__task .customer__inner-box3 .customer__picture_part{
    background: url("../../img/picture_part/Layer 593.png") no-repeat 100%;
  }
  .adbox__purchase .purchase-ul .sale_per .price_65{
    width: 90%;
  }
  .adbox__purchase .purchase-ul > li > .purchase_box .purchase__sale .price_img{
    margin-top: 10%;
    width: 70%;
  }
}

@media screen and (max-width:576px){
  .picture .picture__info{
    font-size: 20px;
  }
  .customer #customer__box label{
    width: 30%;
    font-size: 12px;
  }
  .adbox > .adbox__info .adbox__title_box{
    width: 100%;
  }
}

@media screen and (max-width:380px){
  .adbox > .adbox__info .adbox__title_box .adbox__text > h2{
    font-size: 22px;
  }
  .adbox > .adbox__info .adbox__title_box .adbox__text > h3{
    font-size: 18px;
  }
}